<html>
<body>
    <p>Dear CFSO,</p>

    <p>There is a new customer registered for a course, and the validation process has been completed without any issues!</p>

    <p style="font-weight:600; color:#e70e0e;">Watch for Zeffy payments for this registration!</p>

    <p>Here are the registration details for your review:</p>
    <ul>
        <li><strong>Form ID:</strong> {{ form_id }}</li>
        <li><strong>Submission ID:</strong> {{ submission_id }}</li>
        <li><strong>Full Name:</strong> {{ full_name }}</li>
        <li><strong>Email:</strong> {{ email }}</li>
        <li><strong>Phone Number:</strong> {{ phone_number }}</li>
    </ul>

    <p>For more information on the customer submission, you can view the customer form details by clicking the following link:<br>
    <a href="https://www.jotform.com/inbox/{{ form_id }}/{{ submission_id }}">The Customer Form Detail</a></p>

    <p>Additionally, you can view the complete course table here:<br>
    <a href="https://www.jotform.com/tables/{{ form_id }}">Course Table</a></p>
</body>
</html>